<div class="navbar">
<ul class="nav nav-tabs">
<li class="active"><a href="http://huntlaura0110.github.io/index.html">Home</a></li>
<li><a href="http://huntlaura0110.github.io/otherprojects/CodeAcademy/index.html">Code Academy</a></li>
<li><a href="http://huntlaura0110.github.io/otherprojects/TicTacToe/index.html">TicTacToe Game</a></li>
<li class="dropdown">
<a href="#" data-toggle="dropdown" class="dropdown-toggle"> Take An Order <b class="caret"></b></a>
<ul class="dropdown-menu">
  <li><a href="http://huntlaura0110.github.io/otherprojects/TakeAnOrder/TakeAnOrderRegular.html">Take An Order Regular</a></li>
  <li><a href="http://huntlaura0110.github.io/otherprojects/TakeAnOrder/TakeAnOrderBootstrap.html">Take An Order Bootstrap</a></li>
</ul>
</li>
<li class="dropdown">
<a href="#" data-toggle="dropdown" class="dropdown-toggle"> JS Questions <b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="http://huntlaura0110.github.io/otherprojects/JSquestions/Question1.html">Week 2 Question 1</a></li>
<li><a href="http://huntlaura0110.github.io/otherprojects/JSquestions/Question2.html">Week 2 Question 2</a></li>
<li><a href="http://huntlaura0110.github.io/otherprojects/JSquestions/Question3.html">Week 2 Question 3</a></li>
<li><a href="http://huntlaura0110.github.io/otherprojects/JSquestions/Question4.html">Week 2 Question 4</a></li>
<li><a href="http://huntlaura0110.github.io/otherprojects/JSquestions/week5questions.html">Week 5 Questions </a></li>
</ul>
</li>
<li class="dropdown">
<a href="#" data-toggle="dropdown" class="dropdown-toggle"> Twitter Bootstrap <b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="http://huntlaura0110.github.io/otherprojects/twitterbootstrap/carousel.html">Carousel</a></li>
<li><a href="http://huntlaura0110.github.io/otherprojects/twitterbootstrap/week2.html">Week 2</a></li>
<li><a href="http://huntlaura0110.github.io/otherprojects/twitterbootstrap/index.html">Week 3</a></li>
</ul>
</li>
</ul>
</div>
