@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/*
    Colour Scheme:
    --------------
    highlight (pink): #E91E63
    neutral (dark grey): #212121
*/

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.38888;
    font-weight: 300;
}

    #tv-list{
        width: 940px;
        margin: 0 auto;
        padding: 20px 10px 0 10px;
    }

    #tv-list h2{
        display: none;
    }

    .tv-show{
        width: 300px;
        height:450px;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
    }

.tv-show:nth-child(3n+1){
    margin-right: 0;
}

        .basic-info{
            position: relative;
            overflow: hidden;
            height:450px;
        }

            .basic-info h3{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                background: rgba( 0, 0, 0, 0.75 );
                color: white;
                text-align: center;
                text-transform: uppercase;
                font-size: 150%;
            }

            .basic-info img{
                max-width: 100%;
                cursor: pointer;
            }

        .extended-info{
           /* display: none; */
            position: fixed;
            z-index: 9000;
            top: -1000px;
            left: 50%;
            background: white;
            padding: 20px;
            opacity: 0

            /* shift the box left and up by half its dismensions to center it */
            -webkit-transform: translate(-50%,-50%) scale (0);
            -ms-transform: translate(-50%,-50%) scale(0);
            transfom: translate(-50%,-50%) scale(0);

            -webkit-transition: all 0.333ss ease;
            transition: all 0.333s ease ;

            box-shadow: 0 5px 5px rgba(0,0,0,5)


        }


    .open .extended-info{
       /* display: block; */
        top: 50%;
        opacity: 1;
            -webkit-transform: translate(-50%,-50%) scale(1);
            -ms-transform: translate(-50%,-50%) scale(1);
            transform: translate(-50%,-50%) scale(1);
        /* in transition */
          -webkit-transition: all 0.666s ease;
        transition: all 0.666ss ease;

}

/* cloned heading creadted by jquery*/

.extended-info h3{

    font-size: 125%;
    color: pink;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 25px;

}

.extended-info p{
    margin-bottom: 25px;
}

.extended-info ul {
    list-style: disc;
    margin-left: 25px;
}

.extended-info a{
    display: block;
    background: pink;
    color: white;
    float: right;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 20px;
}
