
html,body{
    height: 100%;
}

.radio-inline{
  display: none;
}

.seasons{
  display: none;
}

.animation-list, .comedy-list, .drama-list, .fantasy-list, .horror-list{
  font-weight: normal;
}

.navbar{
    font-family: 'Open Sans', sans-serif;
   font-size: 18px;
   line-height: 1.38888;
   font-weight: 300;
}


.homepage-animation img, .homepage-comedy img, .homepage-drama img, .homepage-fantasy img, .homepage-horror img{
  display: none;
  position: absolute;
  margin-top: -40px;
  margin-left: 600px;
  box-shadow: 10px 10px 5px #888888;
}


.homepage-animation:hover img, .homepage-comedy:hover img, .homepage-drama:hover img, .homepage-fantasy:hover img, .homepage-horror:hover img{
display: block
}


h2{
font-family: 'Open Sans', sans-serif;
text-decoration: none;
color: #000000;
}

.homepage-imgs img{
box-shadow: 10px 10px 5px #888888;
}
