<div class="navbar">
<ul class="nav nav-tabs">
<li class="active"><a href="http://huntlaura0110.github.io/otherprojects/finalWebsite/index.html"> Home Page </a></li>
<li><a href="http://huntlaura0110.github.io/otherprojects/finalWebsite/productList.html"> Browse Products </a></li>
<li><a href="http://huntlaura0110.github.io/otherprojects/finalWebsite/orderForm.html"> Order Here </a></li>
<li><a href="http://huntlaura0110.github.io/otherprojects/finalWebsite/table.html"> Table </a></li>
<li><a href="http://huntlaura0110.github.io/index.html"> Main Site </a></li>
</ul>
</div>
